.ui.card {
  width: 100%;
}

.vertical {
  padding-bottom: 4.5rem;
  border-left: 4px solid rgba(39, 173, 122, 0.575);
  height: 30px;
  position: absolute;
  left: 2%;
}

.ui.error {
  color: red;
}
